# Aggregate data:

### In database management an aggregate function is a function where the values of multiple rows are grouped together as input on certain criteria to form a single value of more significant meaning.

In [1]:
import pandas as pd
import numpy as np

In [36]:
pd.set_option('display.max_rows', None)

In [2]:
data = pd.read_csv("survey_results_public.csv")

In [3]:
data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [4]:
data.describe() ## it gives a statistical info about teh data

## the count variable tells how many responses for the particular comlumn are unansewred

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [8]:
data['Respondent'].describe()  # descrieb  a particular column

count    88883.000000
mean     44442.000000
std      25658.456325
min          1.000000
25%      22221.500000
50%      44442.000000
75%      66662.500000
max      88883.000000
Name: Respondent, dtype: float64

In [12]:
data['Respondent'].median() # get a particular info about a particular column

44442.0

In [15]:
data['Country'].value_counts()

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Saint Kitts and Nevis        1
Niger                        1
Dominica                     1
Timor-Leste                  1
Tonga                        1
Name: Country, Length: 179, dtype: int64

In [16]:
# get value counts in form of normalized data
data['Country'].value_counts(normalize=True)

United States            0.236042
India                    0.102095
Germany                  0.066095
United Kingdom           0.064642
Canada                   0.038253
                           ...
Saint Kitts and Nevis    0.000011
Niger                    0.000011
Dominica                 0.000011
Timor-Leste              0.000011
Tonga                    0.000011
Name: Country, Length: 179, dtype: float64

# Grouping Data

### grouping data by a specific column is same as applying a specific filter to the df to get a data based on a particular value 
### but for all differnet values of a column like coiuntries we have to defien different different filters to group data by each country name
### whereas group will automatically group data wrt to every value

In [18]:
data["Hobbyist"].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [19]:
hobbyist = data.groupby('Hobbyist')

In [22]:
hobbyist
type(hobbyist)

pandas.core.groupby.generic.DataFrameGroupBy

In [18]:
hobbyist.get_group('Yes')

KeyboardInterrupt:

In [38]:
hobbyist["Country"].value_counts().loc["Yes"]

Country
United States                                16839
India                                         7194
Germany                                       4970
United Kingdom                                4600
Canada                                        2685
France                                        1974
Poland                                        1652
Netherlands                                   1612
Australia                                     1572
Brazil                                        1468
Russian Federation                            1323
Spain                                         1262
Italy                                         1216
Sweden                                        1059
Switzerland                                    817
Austria                                        728
Israel                                         727
Turkey                                         724
Pakistan                                       703
Czech Republic                                 674
Ukraine                                        630
Romania                                        611
Belgium                                        610
China                                          553
Denmark                                        525
Bulgaria                                       516
Mexico                                         499
Norway                                         497
South Africa                                   486
Finland                                        470
Iran                                           464
Bangladesh                                     457
Greece                                         444
New Zealand                                    436
Nigeria                                        421
Indonesia                                      419
Hungary                                        413
Ireland                                        405
Portugal                                       403
Argentina                                      398
Japan                                          325
Sri Lanka                                      309
Serbia                                         304
Philippines                                    270
Egypt                                          249
Slovenia                                       247
Singapore                                      242
Colombia                                       229
Slovakia                                       215
Malaysia                                       214
Croatia                                        212
Nepal                                          209
Kenya                                          203
Lithuania                                      195
Viet Nam                                       190
Chile                                          167
Hong Kong (S.A.R.)                             159
Thailand                                       159
Taiwan                                         152
Estonia                                        150
Belarus                                        146
Morocco                                        127
United Arab Emirates                           126
South Korea                                    120
Latvia                                         114
Peru                                           109
Tunisia                                        108
Other Country (Not Listed Above)                99
Algeria                                         98
Bosnia and Herzegovina                          89
Lebanon                                         89
Uruguay                                         83
Dominican Republic                              73
Albania                                         70
Saudi Arabia                                    70
Ecuador                                         69
Venezuela, Bolivarian Republic of...            69
Ghana                                           66
Georgia                                         62
Costa Rica                                      60
Uganda                                          56
Armenia                                         54
Cyprus                                          53
Malta                                           53
El Salvador                                     52
Guatemala                                       52
Luxembourg                                      50
Myanmar                                         47
Jordan                                          46
Iceland                                         43
Kazakhstan                                      43
Paraguay                                        43
Ethiopia                                        41
The former Yugoslav Republic of Macedonia       41
Cameroon                                        37
Republic of Moldova                             37
Iraq                                            36
Azerbaijan                                      33
Sudan                                           32
Zimbabwe                                        32
Afghanistan                                     29
Bolivia                                         29
Republic of Korea                               28
United Republic of Tanzania                     26
Uzbekistan                                      26
Nicaragua                                       25
Cuba                                            24
Cambodia                                        23
Côte d'Ivoire                                   23
Honduras                                        22
Mauritius                                       22
Panama                                          22
Syrian Arab Republic                            22
Jamaica                                         21
Kuwait                                          18
Bahrain                                         17
Trinidad and Tobago                             17
Yemen                                           16
Mongolia                                        15
Senegal                                         15
Montenegro                                      14
Kyrgyzstan                                      12
Somalia                                         12
Madagascar                                      11
Zambia                                          11
Maldives                                         9
Qatar                                            9
Libyan Arab Jamahiriya                           8
Oman                                             8
Turkmenistan                                     7
Congo, Republic of the...                        6
Mozambique                                       6
Rwanda                                           6
Swaziland                                        6
Antigua and Barbuda                              5
Benin                                            5
Haiti                                            5
Mauritania                                       5
Namibia                                          5
Tajikistan                                       5
Andorra                                          4
Angola                                           4
Botswana                                         4
Democratic Republic of the Congo                 4
Fiji                                             4
Monaco                                           4
Bahamas                                          3
Barbados                                         3
Burundi                                          3
Democratic People's Republic of Korea            3
Guinea                                           3
Guyana                                           3
Mali                                             3
Belize                                           2
Bhutan                                           2
Burkina Faso                                     2
Cape Verde                                       2
Djibouti                                         2
Gabon                                            2
Lesotho                                          2
Liechtenstein                                    2
San Marino                                       2
Seychelles                                       2
Sierra Leone                                     2
Togo                                             2
Brunei Darussalam                                1
Dominica                                         1
Lao People's Democratic Republic                 1
Liberia                                          1
Malawi                                           1
Niger                                            1
North Korea                                      1
Papua New Guinea                                 1
Timor-Leste                                      1
Name: Country, dtype: int64

## using aggregate functions on groups

hobbyist is a group based on its different values i.e yes and no 
we will perform some aggregate fucntions on some specific columns of these groups

In [19]:
hobbyist['ConvertedComp'].describe()

,count,mean,std,min,25%,50%,75%,max
Hobbyist,,,,,,,,
No,11585.0,126080.793095,288963.478284,0.0,24061.00,55000.0,99240.0,2000000.0
Yes,44238.0,127380.459401,282881.526398,0.0,26195.25,57287.0,100000.0,2000000.0

In [22]:
hobbyist.get_group('Yes')['ConvertedComp'].median()

57287.0

In [23]:
# apply a list of specific aggregate functions
hobbyist["ConvertedComp"].agg(['mean','median'])

                   mean   median
Hobbyist
No        126080.793095  55000.0
Yes       127380.459401  57287.0

In [25]:
hobbyist["ConvertedComp"].agg(['mean','median']).loc["Yes"]

mean      127380.459401
median     57287.000000
Name: Yes, dtype: float64